<form action="/publicacao" method="POST">
    <p>Título: </p>
    <input type="text" name="titulo" autocomplete="off">
    <p>Conteúdo: </p>
    <textarea name="conteudo" id="content" cols="30" rows="10"></textarea>
    <button type="submit">Publicar</button>
</form>